registry 'https://registry.npm.taobao.org'
sass_binary_site "https://npm.taobao.org/mirrors/node-sass/"

//192.168.88.9:8081/repository/npmlocal/:_authToken=NpmToken.4526684c-d392-39ac-89a4-493b52757ccc