.github/
build/
docs/
demo-src/
node_modules/
public/
tests/

.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.gitlab-ci.yml
.npmignore
.npmrc
.babelrc
babel.config.js
jest.config.js
package-lock.json
vue.config.js

.git/
.vscode/
nginx/
*.log
